.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    // background-color: #f7edff;
}
.css-1mhxotf-MuiSvgIcon-root{
font-size: 3rem;
}